# 前処理

In [2]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
# 読み込み
application = pd.read_csv("train_x.csv")
application.head()

C:\Users\natsu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (114) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,職場の様子,（紹介予定）入社後の雇用形態,勤務地 最寄駅3（駅名）,勤務地固定,休日休暇(月曜日),応募先 名称,（派遣先）配属先部署 男女比 男,勤務地 最寄駅3（沿線名）,（派遣先）勤務先写真コメント,勤務地 最寄駅3（分）,...,未使用.13,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,応募拠点,給与/交通費 備考,残業なし,これまでの採用者例,期間･時間 備考,（派遣先）概要 勤務先名（フリガナ）
0,3,NaN,NaN,1,0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,北千住,NaN,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN
1,3,1.0,NaN,1,0,NaN,2.0,NaN,NaN,NaN,...,NaN,完備,新御茶ノ水,5.0,NaN,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN,NaN,NaN
2,3,1.0,NaN,1,0,NaN,2.0,NaN,NaN,NaN,...,NaN,完備,新御茶ノ水,5.0,NaN,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN,NaN,NaN
3,2,1.0,NaN,1,0,NaN,8.0,NaN,NaN,NaN,...,NaN,完備,八丁堀,6.0,NaN,【月収例】25万9875円＋残業代（21日勤務の場合）,0,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN
4,2,1.0,NaN,1,0,NaN,8.0,NaN,NaN,NaN,...,NaN,完備,八丁堀,6.0,NaN,【月収例】25万9875円＋残業代（21日勤務の場合）,0,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN

In [4]:
application.describe()

,職場の様子,（紹介予定）入社後の雇用形態,勤務地 最寄駅3（駅名）,勤務地固定,休日休暇(月曜日),応募先 名称,（派遣先）配属先部署 男女比 男,勤務地 最寄駅3（沿線名）,（派遣先）勤務先写真コメント,勤務地 最寄駅3（分）,...,オフィスが禁煙・分煙,応募先 所在地 市区町村,仕事写真（下） 写真1 コメント,勤務地 市区町村コード,未使用.13,勤務地 最寄駅2（分）,応募拠点,残業なし,これまでの採用者例,（派遣先）概要 勤務先名（フリガナ）
count,15853.000000,2742.000000,0.0,15853.0,15853.000000,0.0,13801.000000,0.0,0.0,0.0,...,15853.000000,0.0,0.0,15853.000000,0.0,7359.000000,0.0,15853.000000,0.0,0.0
mean,2.946319,1.303793,NaN,1.0,0.006813,NaN,4.997464,NaN,NaN,NaN,...,0.991674,NaN,NaN,137.071848,NaN,7.621008,NaN,0.729578,NaN,NaN
std,0.306926,0.493645,NaN,0.0,0.082259,NaN,2.796697,NaN,NaN,NaN,...,0.090872,NaN,NaN,55.513015,NaN,4.577798,NaN,0.444192,NaN,NaN
min,2.000000,0.000000,NaN,1.0,0.000000,NaN,0.000000,NaN,NaN,NaN,...,0.000000,NaN,NaN,101.000000,NaN,1.000000,NaN,0.000000,NaN,NaN
25%,3.000000,1.000000,NaN,1.0,0.000000,NaN,3.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,103.000000,NaN,5.000000,NaN,0.000000,NaN,NaN
50%,3.000000,1.000000,NaN,1.0,0.000000,NaN,5.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,109.000000,NaN,7.000000,NaN,1.000000,NaN,NaN
75%,3.000000,2.000000,NaN,1.0,0.000000,NaN,7.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,201.000000,NaN,10.000000,NaN,1.000000,NaN,NaN
max,4.000000,2.000000,NaN,1.0,1.000000,NaN,10.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,631.000000,NaN,46.000000,NaN,1.000000,NaN,NaN

### 全てnanのcolumnを削除してみる

In [5]:
# 全てnanのcolumnを削除
a_1 = application.dropna(how='all', axis=1)
a_1.head()

,職場の様子,（紹介予定）入社後の雇用形態,勤務地固定,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,（紹介予定）雇用形態備考,週1日からOK,交通費別途支給,...,WEB登録OK,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし,期間･時間 備考
0,3,NaN,1,0,6.0,NaN,0,NaN,0,0,...,1,1,121,当社スタッフ活躍中です！<BR>,NaN,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,◆開始日はご相談可能です！詳しくはお問い合わせください！
1,3,1.0,1,0,2.0,淡路町,1,正社員,0,0,...,1,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
2,3,1.0,1,0,2.0,淡路町,1,正社員,0,0,...,1,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
3,2,1.0,1,0,8.0,宝町,0,正社員,0,0,...,1,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！
4,2,1.0,1,0,8.0,宝町,0,正社員,0,0,...,1,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！

In [6]:
a_1.nunique(dropna=False)

職場の様子                  3
（紹介予定）入社後の雇用形態         4
勤務地固定                  1
休日休暇(月曜日)              2
（派遣先）配属先部署　男女比　男      12
                    ...
勤務地　最寄駅1（駅名）        1729
勤務地　最寄駅2（分）           33
給与/交通費　備考            556
残業なし                   2
期間･時間　備考               9
Length: 127, dtype: int64

### すべて同じ値の列は消去してみる

In [7]:
# 各行においてユニークな値のリスト
nunipue_count_list = list(a_1.nunique(dropna=False))
# 列名のリスト
a_1_columns_list = a_1.columns.values
# ユニークな値が1つだけの行を除外する
a_2 = a_1.copy()

for index in range(len(nunipue_count_list)):
#     ユニークな値が1つだけの時
    if nunipue_count_list[index] == 1:
        column_name = a_1_columns_list[index]
        a_2 = a_2.drop([column_name], axis=1)
        
a_2.nunique(dropna=False)

職場の様子                  3
（紹介予定）入社後の雇用形態         4
休日休暇(月曜日)              2
（派遣先）配属先部署　男女比　男      12
勤務地　最寄駅2（駅名）         840
                    ...
勤務地　最寄駅1（駅名）        1729
勤務地　最寄駅2（分）           33
給与/交通費　備考            556
残業なし                   2
期間･時間　備考               9
Length: 97, dtype: int64

In [8]:
a_2.head()

,職場の様子,（紹介予定）入社後の雇用形態,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,（紹介予定）雇用形態備考,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,...,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし,期間･時間 備考
0,3,NaN,0,6.0,NaN,0,NaN,0,12.0,0,...,1550,1,121,当社スタッフ活躍中です！<BR>,NaN,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,◆開始日はご相談可能です！詳しくはお問い合わせください！
1,3,1.0,0,2.0,淡路町,1,正社員,0,33.0,0,...,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
2,3,1.0,0,2.0,淡路町,1,正社員,0,33.0,0,...,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
3,2,1.0,0,8.0,宝町,0,正社員,0,5.0,1,...,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！
4,2,1.0,0,8.0,宝町,0,正社員,0,5.0,1,...,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！

### NANが10000以上の指標を削除してみる

In [9]:
# nanのカウント
null_count = list(a_2.isnull().sum())
# 列名のリスト
a_2_columns_list = a_2.columns.values
# NANが10000以上の指標を削除してみる
a_3 = a_2.copy()

for index in range(len(null_count)):
#     NANが10000以上のとき
    if null_count[index] >= 10000:
        column_name = a_2_columns_list[index]
        a_3 = a_3.drop([column_name], axis=1)
        
a_3.isnull().sum()

職場の様子                  0
休日休暇(月曜日)              0
（派遣先）配属先部署　男女比　男    2052
勤務地　最寄駅2（駅名）        8367
大手企業                   0
                    ...
（派遣先）職場の雰囲気            4
勤務地　最寄駅1（駅名）           0
勤務地　最寄駅2（分）         8494
給与/交通費　備考           3556
残業なし                   0
Length: 86, dtype: int64

In [10]:
a_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,...,お仕事のポイント（仕事PR）,扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,NaN,0,0,12.0,0,22010,1,...,◆駅からスグ！飲食店・コンビニが近く便利！職場環境ＧＯＯＤ◎！当社含む派遣スタッフ多数活躍中...,0,1550,1,121,当社スタッフ活躍中です！<BR>,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1
1,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,0,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1
2,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,0,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1
3,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,0,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0
4,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,0,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0

### 長い文章のカラムを削除してみる

In [11]:
a_4 = a_3.drop(["休日休暇　備考", "期間・時間　勤務時間", "お仕事名", "（派遣先）配属先部署", "仕事内容",  "応募資格", "派遣会社のうれしい特典", "お仕事のポイント（仕事PR）", "（派遣先）職場の雰囲気", "給与/交通費　備考"], axis=1)
a_4.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,...,給与/交通費 交通費,掲載期間 終了日,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,NaN,0,0,12.0,0,22010,1,...,3,2020/11/27,0,0,1550,1,121,北千住,NaN,1
1,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,3,2020/11/27,0,0,1800,1,101,新御茶ノ水,5.0,1
2,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,3,2020/11/27,0,0,1800,1,101,新御茶ノ水,5.0,1
3,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,3,2020/11/27,0,0,1650,1,102,八丁堀,6.0,0
4,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,3,2020/11/27,0,0,1650,1,102,八丁堀,6.0,0

In [12]:
a_4 = a_4.drop(["勤務地　最寄駅2（駅名）", "勤務地　最寄駅2（沿線名）"], axis=1)
a_4.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,給与/交通費 交通費,掲載期間 終了日,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,3,2020/11/27,0,0,1550,1,121,北千住,NaN,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,3,2020/11/27,0,0,1800,1,101,新御茶ノ水,5.0,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,3,2020/11/27,0,0,1800,1,101,新御茶ノ水,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,3,2020/11/27,0,0,1650,1,102,八丁堀,6.0,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,3,2020/11/27,0,0,1650,1,102,八丁堀,6.0,0

In [13]:
# object型のみ抽出
a_4_object = a_4.select_dtypes(include=object)
a_4_object.head()

,掲載期間 開始日,勤務地 備考,拠点番号,期間・時間 勤務開始日,勤務地 最寄駅1（沿線名）,掲載期間 終了日,勤務地 最寄駅1（駅名）
0,2019/11/27,東京都足立区,206東京,2020/1/6,東京メトロ千代田線,2020/11/27,北千住
1,2019/11/27,東京都千代田区,206東京,2019/11/26,東京メトロ千代田線,2020/11/27,新御茶ノ水
2,2019/11/27,東京都千代田区,206東京,2019/11/26,東京メトロ千代田線,2020/11/27,新御茶ノ水
3,2019/11/27,東京都中央区,206東京,2019/11/26,東京メトロ日比谷線,2020/11/27,八丁堀
4,2019/11/27,東京都中央区,206東京,2019/11/26,東京メトロ日比谷線,2020/11/27,八丁堀

### メモ  
掲載期間開始日/掲載期間終了日：2種類しかないので0,1（普通のエンコーディング）

開始日と終了日は対応するので、終了日の方は削除へ

勤務地：拠点番号よりも詳しい（最悪省略でも）、東京・静岡などはグルーピングしたうえでエンコーディングできるのか

拠点番号：前の番号だけ抜粋してそのまま値に

勤務開始日：要検討→削除へ

勤務地　最寄り駅（沿線名）：勤務地と被ってくる→削除へ

勤務地最寄り駅：要検討→削除へ

In [14]:
a_5 = a_4.drop(["勤務地　備考", "期間・時間　勤務開始日", "勤務地　最寄駅1（沿線名）", "勤務地　最寄駅1（駅名）", "掲載期間　終了日"], axis=1)
a_5.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,1,1,3,0,0,1550,1,121,NaN,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0

In [15]:
# 掲載開始日を０，１にエンコード
day_mapping = {"2019/11/27": 0, "2019/9/25": 1}
a_5["掲載期間　開始日"] = a_5['掲載期間　開始日'].map(day_mapping)

In [16]:
func = lambda x: int(x[:3])
a_5["拠点番号"] = a_5["拠点番号"].map(func)
a_5.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,1,1,3,0,0,1550,1,121,NaN,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0

In [17]:
a_5.describe()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
count,15853.000000,15853.000000,13801.000000,15853.000000,15853.000000,13814.000000,15853.000000,15853.000000,15853.000000,15853.000000,...,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,7359.000000,15853.000000
mean,2.946319,0.006813,4.997464,0.237242,0.218129,14.174461,0.064972,20637.698227,0.277802,0.010219,...,0.877184,0.936984,2.781871,0.009903,0.011670,1469.690279,0.991674,137.071848,7.621008,0.729578
std,0.306926,0.082259,2.796697,0.425405,0.412989,23.165115,0.246484,2598.874377,0.447930,0.100574,...,0.328236,0.243000,0.412989,0.099025,0.107398,244.447800,0.090872,55.513015,4.577798,0.444192
min,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,20020.000000,0.000000,0.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,800.000000,0.000000,101.000000,1.000000,0.000000
25%,3.000000,0.000000,3.000000,0.000000,0.000000,5.000000,0.000000,20020.000000,0.000000,0.000000,...,1.000000,1.000000,3.000000,0.000000,0.000000,1300.000000,1.000000,103.000000,5.000000,0.000000
50%,3.000000,0.000000,5.000000,0.000000,0.000000,8.000000,0.000000,20030.000000,0.000000,0.000000,...,1.000000,1.000000,3.000000,0.000000,0.000000,1500.000000,1.000000,109.000000,7.000000,1.000000
75%,3.000000,0.000000,7.000000,0.000000,0.000000,15.000000,0.000000,20710.000000,1.000000,0.000000,...,1.000000,1.000000,3.000000,0.000000,0.000000,1650.000000,1.000000,201.000000,10.000000,1.000000
max,4.000000,1.000000,10.000000,1.000000,1.000000,574.000000,1.000000,80310.000000,1.000000,1.000000,...,1.000000,1.000000,3.000000,1.000000,1.000000,2850.000000,1.000000,631.000000,46.000000,1.000000

### NANの消去

In [18]:
a_6 = a_5.fillna(-99)
a_6.isnull().sum()

職場の様子               0
休日休暇(月曜日)           0
（派遣先）配属先部署　男女比　男    0
大手企業                0
交通費別途支給             0
                   ..
給与/交通費　給与下限         0
オフィスが禁煙・分煙          0
勤務地　市区町村コード         0
勤務地　最寄駅2（分）         0
残業なし                0
Length: 69, dtype: int64

In [19]:
application_after = a_6
application_after.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,1,1,3,0,0,1550,1,121,-99.0,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0

### yの読み込み

In [20]:
df_y = pd.read_csv("train_y.csv")
df_y.head()

       お仕事No.    応募数 合計
0  2203566799  1.945910
1  2203546900  3.951244
2  2203546900  3.295837
3  2203545344  3.970292
4  2203545344  3.784190

In [21]:
len(df_y)

15853

# 回帰問題

In [22]:
y = df_y["応募数 合計"]
X = application_after.drop(["お仕事No."], axis=1)

In [23]:
y_array = np.array(y)
X_array = np.array(X)

In [24]:
print("y_array: ", y_array.shape)
print("X_array: ", X_array.shape)

y_array:  (15853,)
X_array:  (15853, 68)

In [25]:
# train/testに分割する
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_array, y_array, test_size=0.4, random_state=0)

In [26]:
print("X_train: ", X_train.shape)
print("y_train: ", y_train.shape)
print("X_test: ", X_test.shape)
print("y_test: ", y_test.shape)

X_train:  (9511, 68)
y_train:  (9511,)
X_test:  (6342, 68)
y_test:  (6342,)

### ランダムフォレスト

In [27]:
# ランダムフォレスト
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=0)
rfr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [28]:
y_pred = rfr.predict(X_test)
y_pred.shape

(6342,)

In [29]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_pred, y_test))

0.6326244864434752

# テストデータで予測

In [30]:
t_x = pd.read_csv("test_x.csv")
t_x.head()

,勤務地 最寄駅3（駅名）,ミドル（40〜）活躍中,オープニングスタッフ,未使用.20,英語力不要,経験者優遇,Wordのスキルを活かす,メモ,派遣スタッフ活躍中,勤務地 最寄駅1（駅からの交通手段）,...,産休育休取得事例あり,仕事写真（下） 写真3 ファイル名,掲載期間 開始日,勤務地 最寄駅3（駅からの交通手段）,未経験OK,ブロックコード1,未使用.19,応募資格,WEB関連のスキルを活かす,対象者設定 年齢下限
0,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）・ＰｏｗｅｒＰｏｉｎｔ（文章...,NaN,0
1,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,【短大・専門・高専以上】◆業界経験問いません、ある方歓迎！<BR>※人事事務の経験が必要です...,NaN,0
2,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,0,NaN,NaN,【専門・高専卒以上】◆事務経験・簿記３級程度の知識がある方歓迎します。<BR>【使用するＯＡ...,NaN,0
3,NaN,1,NaN,NaN,1,1,1,NaN,0,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,【大卒以上】◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）<BR><BR>...,NaN,0
4,NaN,1,NaN,NaN,1,1,1,NaN,0,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,＜高卒以上＞◆未経験者歓迎！<BR>※金融機関での就業経験がある方歓迎。<BR>【使用するＯ...,NaN,0

In [32]:
columns_list = list(application_after.columns.values)
t_x_1 = t_x[columns_list]
t_x_1.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,1,1,3,0,0,1600,1,112,15.0,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,1,1,3,0,0,1700,1,102,1.0,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,1,1,3,0,0,1700,1,102,7.0,1

In [33]:
t_x_1["掲載期間　開始日"].nunique()

1

In [35]:
t_x_2 = t_x_1.replace('2019/10/24', 3)
t_x_2.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,1,1,3,0,0,1600,1,112,15.0,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,1,1,3,0,0,1700,1,102,1.0,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,1,1,3,0,0,1700,1,102,7.0,1

In [36]:
func = lambda x: int(x[:3])
t_x_2["拠点番号"] = t_x_2["拠点番号"].map(func)
t_x_2.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,1,1,3,0,0,1600,1,112,15.0,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,1,1,3,0,0,1700,1,102,1.0,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,1,1,3,0,0,1700,1,102,7.0,1

In [37]:
t_x_3 = t_x_2.fillna(-99)
t_x_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,未経験OK,土日祝休み,給与/交通費 交通費,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,勤務地 最寄駅2（分）,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,1,1,3,0,0,1600,1,112,15.0,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,1,1,3,0,0,1700,1,102,1.0,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,1,3,0,0,1800,1,101,5.0,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,1,1,3,0,0,1650,1,102,6.0,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,1,1,3,0,0,1700,1,102,7.0,1

In [38]:
submit_x = t_x_3

In [39]:
work_number = submit_x["お仕事No."]
submit_x_test = np.array(submit_x.drop(["お仕事No."], axis=1))
submit_x_test.shape

(3391, 68)

In [40]:
submit_y_pred = rfr.predict(submit_x_test)
submit_y_pred.shape

(3391,)

In [41]:
submit_y_pred_df = pd.DataFrame(submit_y_pred, columns=['応募数 合計'])
submit_y_pred_df.head()

     応募数 合計
0  2.038435
1  3.342818
2  3.348892
3  3.801294
4  2.333256

In [42]:
submit = pd.concat([work_number, submit_y_pred_df], axis=1)
submit.head()

       お仕事No.    応募数 合計
0  2203556553  2.038435
1  2203515280  3.342818
2  2203546900  3.348892
3  2203545344  3.801294
4  2203557987  2.333256

In [43]:
submit.to_csv("submit_rf.csv", index=False)