# 取り組んだ軌跡：https://github.com/NatsukiH/apply_prediction  

こちらに精度比較を載せています．ぜひご覧ください．

最終の精度: 0.6042383633971182

# 前処理

In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
# 読み込み
application = pd.read_csv("train_x.csv")
application.head()

C:\Users\natsu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (114) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,職場の様子,（紹介予定）入社後の雇用形態,勤務地 最寄駅3（駅名）,勤務地固定,休日休暇(月曜日),応募先 名称,（派遣先）配属先部署 男女比 男,勤務地 最寄駅3（沿線名）,（派遣先）勤務先写真コメント,勤務地 最寄駅3（分）,...,未使用.13,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,応募拠点,給与/交通費 備考,残業なし,これまでの採用者例,期間･時間 備考,（派遣先）概要 勤務先名（フリガナ）
0,3,NaN,NaN,1,0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,北千住,NaN,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN
1,3,1.0,NaN,1,0,NaN,2.0,NaN,NaN,NaN,...,NaN,完備,新御茶ノ水,5.0,NaN,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN,NaN,NaN
2,3,1.0,NaN,1,0,NaN,2.0,NaN,NaN,NaN,...,NaN,完備,新御茶ノ水,5.0,NaN,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN,NaN,NaN
3,2,1.0,NaN,1,0,NaN,8.0,NaN,NaN,NaN,...,NaN,完備,八丁堀,6.0,NaN,【月収例】25万9875円＋残業代（21日勤務の場合）,0,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN
4,2,1.0,NaN,1,0,NaN,8.0,NaN,NaN,NaN,...,NaN,完備,八丁堀,6.0,NaN,【月収例】25万9875円＋残業代（21日勤務の場合）,0,NaN,◆開始日はご相談可能です！詳しくはお問い合わせください！,NaN

In [3]:
application.describe()

,職場の様子,（紹介予定）入社後の雇用形態,勤務地 最寄駅3（駅名）,勤務地固定,休日休暇(月曜日),応募先 名称,（派遣先）配属先部署 男女比 男,勤務地 最寄駅3（沿線名）,（派遣先）勤務先写真コメント,勤務地 最寄駅3（分）,...,オフィスが禁煙・分煙,応募先 所在地 市区町村,仕事写真（下） 写真1 コメント,勤務地 市区町村コード,未使用.13,勤務地 最寄駅2（分）,応募拠点,残業なし,これまでの採用者例,（派遣先）概要 勤務先名（フリガナ）
count,15853.000000,2742.000000,0.0,15853.0,15853.000000,0.0,13801.000000,0.0,0.0,0.0,...,15853.000000,0.0,0.0,15853.000000,0.0,7359.000000,0.0,15853.000000,0.0,0.0
mean,2.946319,1.303793,NaN,1.0,0.006813,NaN,4.997464,NaN,NaN,NaN,...,0.991674,NaN,NaN,137.071848,NaN,7.621008,NaN,0.729578,NaN,NaN
std,0.306926,0.493645,NaN,0.0,0.082259,NaN,2.796697,NaN,NaN,NaN,...,0.090872,NaN,NaN,55.513015,NaN,4.577798,NaN,0.444192,NaN,NaN
min,2.000000,0.000000,NaN,1.0,0.000000,NaN,0.000000,NaN,NaN,NaN,...,0.000000,NaN,NaN,101.000000,NaN,1.000000,NaN,0.000000,NaN,NaN
25%,3.000000,1.000000,NaN,1.0,0.000000,NaN,3.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,103.000000,NaN,5.000000,NaN,0.000000,NaN,NaN
50%,3.000000,1.000000,NaN,1.0,0.000000,NaN,5.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,109.000000,NaN,7.000000,NaN,1.000000,NaN,NaN
75%,3.000000,2.000000,NaN,1.0,0.000000,NaN,7.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,201.000000,NaN,10.000000,NaN,1.000000,NaN,NaN
max,4.000000,2.000000,NaN,1.0,1.000000,NaN,10.000000,NaN,NaN,NaN,...,1.000000,NaN,NaN,631.000000,NaN,46.000000,NaN,1.000000,NaN,NaN

### 全てnanのcolumnを削除してみる

In [4]:
# 全てnanのcolumnを削除
a_1 = application.dropna(how='all', axis=1)
a_1.head()

,職場の様子,（紹介予定）入社後の雇用形態,勤務地固定,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,（紹介予定）雇用形態備考,週1日からOK,交通費別途支給,...,WEB登録OK,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし,期間･時間 備考
0,3,NaN,1,0,6.0,NaN,0,NaN,0,0,...,1,1,121,当社スタッフ活躍中です！<BR>,NaN,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,◆開始日はご相談可能です！詳しくはお問い合わせください！
1,3,1.0,1,0,2.0,淡路町,1,正社員,0,0,...,1,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
2,3,1.0,1,0,2.0,淡路町,1,正社員,0,0,...,1,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
3,2,1.0,1,0,8.0,宝町,0,正社員,0,0,...,1,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！
4,2,1.0,1,0,8.0,宝町,0,正社員,0,0,...,1,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！

In [5]:
a_1.nunique(dropna=False)

職場の様子                  3
（紹介予定）入社後の雇用形態         4
勤務地固定                  1
休日休暇(月曜日)              2
（派遣先）配属先部署　男女比　男      12
                    ...
勤務地　最寄駅1（駅名）        1729
勤務地　最寄駅2（分）           33
給与/交通費　備考            556
残業なし                   2
期間･時間　備考               9
Length: 127, dtype: int64

### すべて同じ値の列は消去してみる

In [6]:
# 各行においてユニークな値のリスト
nunipue_count_list = list(a_1.nunique(dropna=False))
# 列名のリスト
a_1_columns_list = a_1.columns.values
# ユニークな値が1つだけの行を除外する
a_2 = a_1.copy()

for index in range(len(nunipue_count_list)):
#     ユニークな値が1つだけの時
    if nunipue_count_list[index] == 1:
        column_name = a_1_columns_list[index]
        a_2 = a_2.drop([column_name], axis=1)
        
a_2.nunique(dropna=False)

職場の様子                  3
（紹介予定）入社後の雇用形態         4
休日休暇(月曜日)              2
（派遣先）配属先部署　男女比　男      12
勤務地　最寄駅2（駅名）         840
                    ...
勤務地　最寄駅1（駅名）        1729
勤務地　最寄駅2（分）           33
給与/交通費　備考            556
残業なし                   2
期間･時間　備考               9
Length: 97, dtype: int64

In [7]:
a_2.head()

,職場の様子,（紹介予定）入社後の雇用形態,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,（紹介予定）雇用形態備考,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,...,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,（紹介予定）待遇・福利厚生,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし,期間･時間 備考
0,3,NaN,0,6.0,NaN,0,NaN,0,12.0,0,...,1550,1,121,当社スタッフ活躍中です！<BR>,NaN,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1,◆開始日はご相談可能です！詳しくはお問い合わせください！
1,3,1.0,0,2.0,淡路町,1,正社員,0,33.0,0,...,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
2,3,1.0,0,2.0,淡路町,1,正社員,0,33.0,0,...,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,完備,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1,NaN
3,2,1.0,0,8.0,宝町,0,正社員,0,5.0,1,...,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！
4,2,1.0,0,8.0,宝町,0,正社員,0,5.0,1,...,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,完備,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0,◆開始日はご相談可能です！詳しくはお問い合わせください！

### NANが10000以上の指標を削除してみる

In [8]:
# nanのカウント
null_count = list(a_2.isnull().sum())
# 列名のリスト
a_2_columns_list = a_2.columns.values
# NANが10000以上の指標を削除してみる
a_3 = a_2.copy()

for index in range(len(null_count)):
#     NANが10000以上のとき
    if null_count[index] >= 10000:
        column_name = a_2_columns_list[index]
        a_3 = a_3.drop([column_name], axis=1)
        
a_3.isnull().sum()

職場の様子                  0
休日休暇(月曜日)              0
（派遣先）配属先部署　男女比　男    2052
勤務地　最寄駅2（駅名）        8367
大手企業                   0
                    ...
（派遣先）職場の雰囲気            4
勤務地　最寄駅1（駅名）           0
勤務地　最寄駅2（分）         8494
給与/交通費　備考           3556
残業なし                   0
Length: 86, dtype: int64

In [9]:
a_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,...,お仕事のポイント（仕事PR）,扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,NaN,0,0,12.0,0,22010,1,...,◆駅からスグ！飲食店・コンビニが近く便利！職場環境ＧＯＯＤ◎！当社含む派遣スタッフ多数活躍中...,0,1550,1,121,当社スタッフ活躍中です！<BR>,北千住,NaN,【月収例】19万5300円＋残業代（21日勤務の場合）,1
1,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,0,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1
2,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,0,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1
3,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,0,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0
4,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,0,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0

### テストデータの読み込み

In [10]:
t_x = pd.read_csv("test_x.csv")
t_x.head()

,勤務地 最寄駅3（駅名）,ミドル（40〜）活躍中,オープニングスタッフ,未使用.20,英語力不要,経験者優遇,Wordのスキルを活かす,メモ,派遣スタッフ活躍中,勤務地 最寄駅1（駅からの交通手段）,...,産休育休取得事例あり,仕事写真（下） 写真3 ファイル名,掲載期間 開始日,勤務地 最寄駅3（駅からの交通手段）,未経験OK,ブロックコード1,未使用.19,応募資格,WEB関連のスキルを活かす,対象者設定 年齢下限
0,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）・ＰｏｗｅｒＰｏｉｎｔ（文章...,NaN,0
1,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,【短大・専門・高専以上】◆業界経験問いません、ある方歓迎！<BR>※人事事務の経験が必要です...,NaN,0
2,NaN,1,NaN,NaN,1,1,1,NaN,1,1.0,...,1,NaN,2019/10/24,NaN,0,NaN,NaN,【専門・高専卒以上】◆事務経験・簿記３級程度の知識がある方歓迎します。<BR>【使用するＯＡ...,NaN,0
3,NaN,1,NaN,NaN,1,1,1,NaN,0,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,【大卒以上】◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）<BR><BR>...,NaN,0
4,NaN,1,NaN,NaN,1,1,1,NaN,0,1.0,...,1,NaN,2019/10/24,NaN,1,NaN,NaN,＜高卒以上＞◆未経験者歓迎！<BR>※金融機関での就業経験がある方歓迎。<BR>【使用するＯ...,NaN,0

In [11]:
# a_3にカラムを合わせる
columns_list = list(a_3.columns.values)
t_x_1 = t_x[columns_list]
t_x_1.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,勤務地 最寄駅2（駅名）,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,...,お仕事のポイント（仕事PR）,扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,二子玉川,0,0,9.0,0,22010,1,...,◆同業務就業の方が在籍で安心！オシャレを楽しめるオフィカジＯＫ♪給湯設備・ホッと一息つける休...,0,1600,1,112,派遣スタッフ活躍中です！<BR>,成城学園前,15.0,【月収例】23万5200円＋残業代（21日勤務の場合）,1
1,3,0,5.0,水天宮前,0,0,11.0,0,22030,1,...,◆２つの駅からアクセス◎！飲食店・コンビニが近くお昼もラクチン！禁煙でクリーンな環境！オフィ...,0,1700,1,102,落ち着いた雰囲気の職場環境です！<BR>,人形町,1.0,【月収例】24万9900円＋残業代（21日勤務の場合）,0
2,3,0,2.0,淡路町,1,0,33.0,0,20020,1,...,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,0,1800,1,101,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,5.0,【月収例】26万4600円＋残業代（21日勤務の場合）,1
3,2,0,8.0,宝町,0,0,5.0,1,20020,0,...,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,0,1650,1,102,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,6.0,【月収例】25万9875円＋残業代（21日勤務の場合）,0
4,2,0,6.0,日本橋,0,0,8.0,0,20020,1,...,◆駅からスグ！飲食店・コンビニが近く何かと便利！禁煙でクリーンな環境！カジュアル×デニムＯＫ...,0,1700,1,102,落ち着いた雰囲気のオフィスです！<BR>,茅場町,7.0,【月収例】24万9900円＋残業代（21日勤務の場合）,1

In [12]:
# object型のみ抽出
a_3_object = a_3.select_dtypes(include=object)
a_3_object.head()

,勤務地 最寄駅2（駅名）,掲載期間 開始日,勤務地 最寄駅2（沿線名）,休日休暇 備考,期間・時間 勤務時間,勤務地 備考,拠点番号,お仕事名,期間・時間 勤務開始日,（派遣先）配属先部署,仕事内容,勤務地 最寄駅1（沿線名）,応募資格,派遣会社のうれしい特典,掲載期間 終了日,お仕事のポイント（仕事PR）,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,給与/交通費 備考
0,NaN,2019/11/27,NaN,※土・日・祝がお休みです。※企業カレンダーあります。,9:30〜16:30 <BR>※残業はほとんどありません。<BR>※休憩は６０分です。,東京都足立区,206東京,ほぼ１６時半終業☆大学＊申請受付ｅｔｃ！未経験スタートＯＫ☆,2020/1/6,事務処理を行う部署,１月スタート！実働短め☆残業ほとんどなし×基本土日祝お休み！朝は少しゆっくりの９：３０出勤で...,東京メトロ千代田線,◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（ＶＬＯＯＫ関数）<BR><BR>▼...,"●当社は全国17,000件のお仕事を取り扱っており、毎日100名以上の方が就業を決めています...",2020/11/27,◆駅からスグ！飲食店・コンビニが近く便利！職場環境ＧＯＯＤ◎！当社含む派遣スタッフ多数活躍中...,当社スタッフ活躍中です！<BR>,北千住,【月収例】19万5300円＋残業代（21日勤務の場合）
1,淡路町,2019/11/27,東京メトロ丸ノ内線,※土・日・祝がお休みです。,9:00〜17:00 <BR>※残業はほとんどありません。<BR>※休憩は６０分です。,東京都千代田区,206東京,≪3ヶ月後正社員！≫大手損保会社でコツコツ事務＊社員食堂あり,2019/11/26,経理部,＜大手損保会社＞産休・育休取得実績ありの企業さんです♪ランチに嬉しい社員食堂完備の職場ですよ...,東京メトロ千代田線,【専門・高専卒以上】◆事務経験・簿記３級程度の知識がある方歓迎します。<BR>【使用するＯＡ...,"●当社は全国17,000件のお仕事を取り扱っており、毎日100名以上の方が就業を決めています...",2020/11/27,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,【月収例】26万4600円＋残業代（21日勤務の場合）
2,淡路町,2019/11/27,東京メトロ丸ノ内線,※土・日・祝がお休みです。,9:00〜17:00 <BR>※残業はほとんどありません。<BR>※休憩は６０分です。,東京都千代田区,206東京,≪3ヶ月後正社員！≫大手損保会社でコツコツ事務＊社員食堂あり,2019/11/26,経理部,＜大手損保会社＞産休・育休取得実績ありの企業さんです♪ランチに嬉しい社員食堂完備の職場ですよ...,東京メトロ千代田線,【専門・高専卒以上】◆事務経験・簿記３級程度の知識がある方歓迎します。<BR>【使用するＯＡ...,"●当社は全国17,000件のお仕事を取り扱っており、毎日100名以上の方が就業を決めています...",2020/11/27,◆開始日相談可能です♪複数路線が利用でき便利！休憩室完備の自社ビル！当社スタッフさん就業中！...,ランチに嬉しい社員食堂完備の職場です！<BR>,新御茶ノ水,【月収例】26万4600円＋残業代（21日勤務の場合）
3,宝町,2019/11/27,都営浅草線,※土・日・祝がお休みです。,9:00〜17:30 <BR>※休憩は６０分です。,東京都中央区,206東京,【未経験でも6ヶ月後社員】賞与年4.5ヶ月分＊非営利団体で事務,2019/11/26,企画調整部,安心安定の非営利団体！落ち着いた雰囲気の職場環境です！<BR>【ＯＡ事務】<BR>会議や委員...,東京メトロ日比谷線,【大卒以上】◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）<BR><BR>...,"●当社は全国17,000件のお仕事を取り扱っており、毎日100名以上の方が就業を決めています...",2020/11/27,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,【月収例】25万9875円＋残業代（21日勤務の場合）
4,宝町,2019/11/27,都営浅草線,※土・日・祝がお休みです。,9:00〜17:30 <BR>※休憩は６０分です。,東京都中央区,206東京,【未経験でも6ヶ月後社員】賞与年4.5ヶ月分＊非営利団体で事務,2019/11/26,企画調整部,安心安定の非営利団体！落ち着いた雰囲気の職場環境です！<BR>【ＯＡ事務】<BR>会議や委員...,東京メトロ日比谷線,【大卒以上】◆未経験者歓迎！<BR>【使用するＯＡスキル】Ｅｘｃｅｌ（関数）<BR><BR>...,"●当社は全国17,000件のお仕事を取り扱っており、毎日100名以上の方が就業を決めています...",2020/11/27,◆最寄駅から徒歩圏内！複数路線が利用可能！近くにコンビニ・カフェがあり便利！分煙されており快...,落ち着いた雰囲気の職場環境です！<BR>,八丁堀,【月収例】25万9875円＋残業代（21日勤務の場合）

In [13]:
df_info_a_3_object = pd.DataFrame({"unique count": list(a_3_object.nunique(dropna=False)), "null count": list(a_3_object.isnull().sum())}, index=list(a_3_object.columns.values))
df_info_a_3_object

                unique count  null count
勤務地　最寄駅2（駅名）             840        8367
掲載期間　開始日                   2           0
勤務地　最寄駅2（沿線名）            219        8367
休日休暇　備考                  752           0
期間・時間　勤務時間              3059           0
勤務地　備考                   736           0
拠点番号                      52           0
お仕事名                    9925           0
期間・時間　勤務開始日               94           0
（派遣先）配属先部署              3574           3
仕事内容                   11086           0
勤務地　最寄駅1（沿線名）            351           0
応募資格                    4385           0
派遣会社のうれしい特典               27           0
掲載期間　終了日                   2           0
お仕事のポイント（仕事PR）          9636           0
（派遣先）職場の雰囲気              866           4
勤務地　最寄駅1（駅名）            1729           0
給与/交通費　備考                556        3556

##### エンコーディングするカテゴリ変数の候補メモ

・~~勤務地　最寄駅2（駅名）~~　　→1があるからいらなそう

・~~掲載期間　開始日・終了日~~ 　→二値へ

・~~勤務地　最寄駅2（沿線名）~~  →駅名があるので、なくても良さげ

★休日休暇　備考

★~~期間・時間　勤務時間~~

★勤務地　備考

・~~拠点番号~~  →番号のみを抽出

・~~お仕事名~~  →ほぼ全部違うから無視
    
・~~期間・時間　勤務開始日~~

★~~（派遣先）配属先部署~~

・~~仕事内容~~  →お仕事名と同じく

・~~勤務地　最寄駅1（沿線名）~~　→駅名があるので、なくても良さげ

★~~応募資格~~

★派遣会社のうれしい特典

・~~お仕事のポイント（仕事PR）~~  →お仕事名と同じく

★（派遣先）職場の雰囲気

★勤務地　最寄駅1（駅名）

★給与/交通費　備考

submit_GBDT_Nan_encodingの時よりも少しエンコーディングする変数を減らす  
あまりにも種類が多いもの（ばらばらなもの）のカラムは消去していくことにする

In [14]:
# trainデータに対してNANをなくす
a_4 = a_3.copy()
a_4["休日休暇　備考"] = a_4["休日休暇　備考"].fillna("missing")
# a_4["期間・時間　勤務時間"] = a_4["期間・時間　勤務時間"].fillna("missing")
a_4["勤務地　備考"] = a_4["勤務地　備考"].fillna("missing")
# a_4["（派遣先）配属先部署"] = a_4["（派遣先）配属先部署"].fillna("missing")
# a_4["応募資格"] = a_4["応募資格"].fillna("missing")
a_4["派遣会社のうれしい特典"] = a_4["派遣会社のうれしい特典"].fillna("missing")
a_4["（派遣先）職場の雰囲気"] = a_4["（派遣先）職場の雰囲気"].fillna("missing")
a_4["勤務地　最寄駅1（駅名）"] = a_4["勤務地　最寄駅1（駅名）"].fillna("missing")
a_4["給与/交通費　備考"] = a_4["給与/交通費　備考"].fillna("missing")

In [15]:
# testデータに対してNANをなくす
t_x_2 = t_x_1.copy()
t_x_2["休日休暇　備考"] = t_x_2["休日休暇　備考"].fillna("missing")
# t_x_2["期間・時間　勤務時間"] = t_x_2["期間・時間　勤務時間"].fillna("missing")
t_x_2["勤務地　備考"] = t_x_2["勤務地　備考"].fillna("missing")
# t_x_2["（派遣先）配属先部署"] = t_x_2["（派遣先）配属先部署"].fillna("missing")
# t_x_2["応募資格"] = t_x_2["応募資格"].fillna("missing")
t_x_2["派遣会社のうれしい特典"] = t_x_2["派遣会社のうれしい特典"].fillna("missing")
t_x_2["（派遣先）職場の雰囲気"] = t_x_2["（派遣先）職場の雰囲気"].fillna("missing")
t_x_2["勤務地　最寄駅1（駅名）"] = t_x_2["勤務地　最寄駅1（駅名）"].fillna("missing")
t_x_2["給与/交通費　備考"] = t_x_2["給与/交通費　備考"].fillna("missing")

In [16]:
# "休日休暇　備考","期間・時間　勤務時間","勤務地　備考","（派遣先）配属先部署","応募資格","派遣会社のうれしい特典","（派遣先）職場の雰囲気","勤務地　最寄駅1（駅名）","給与/交通費　備考"
# ,,,,,,,

In [17]:
from sklearn.preprocessing import LabelEncoder

a_5 = a_4.copy()
t_x_3 = t_x_2.copy()
le1 = LabelEncoder()
# a_5とt_x_3においてラベル付け
le1.fit(pd.concat([a_5["休日休暇　備考"], t_x_3["休日休暇　備考"]], sort=True))
a_5["休日休暇　備考"] = le1.transform(a_5["休日休暇　備考"])
t_x_3["休日休暇　備考"] = le1.transform(t_x_3["休日休暇　備考"])

In [18]:
# le2 = LabelEncoder()
# le2.fit(pd.concat([a_5["期間・時間　勤務時間"], t_x_3["期間・時間　勤務時間"]], sort=True))
# a_5["期間・時間　勤務時間"] = le2.transform(a_5["期間・時間　勤務時間"])
# t_x_3["期間・時間　勤務時間"] = le2.transform(t_x_3["期間・時間　勤務時間"])

le3 = LabelEncoder()
le3.fit(pd.concat([a_5["勤務地　備考"], t_x_3["勤務地　備考"]], sort=True))
a_5["勤務地　備考"] = le3.transform(a_5["勤務地　備考"])
t_x_3["勤務地　備考"] = le3.transform(t_x_3["勤務地　備考"])

# le4 = LabelEncoder()
# le4.fit(pd.concat([a_5["（派遣先）配属先部署"], t_x_3["（派遣先）配属先部署"]], sort=True))
# a_5["（派遣先）配属先部署"] = le4.transform(a_5["（派遣先）配属先部署"])
# t_x_3["（派遣先）配属先部署"] = le4.transform(t_x_3["（派遣先）配属先部署"])

# le5 = LabelEncoder()
# le5.fit(pd.concat([a_5["応募資格"], t_x_3["応募資格"]], sort=True))
# a_5["応募資格"] = le5.transform(a_5["応募資格"])
# t_x_3["応募資格"] = le5.transform(t_x_3["応募資格"])

le6 = LabelEncoder()
le6.fit(pd.concat([a_5["派遣会社のうれしい特典"], t_x_3["派遣会社のうれしい特典"]], sort=True))
a_5["派遣会社のうれしい特典"] = le6.transform(a_5["派遣会社のうれしい特典"])
t_x_3["派遣会社のうれしい特典"] = le6.transform(t_x_3["派遣会社のうれしい特典"])

le7 = LabelEncoder()
le7.fit(pd.concat([a_5["（派遣先）職場の雰囲気"], t_x_3["（派遣先）職場の雰囲気"]], sort=True))
a_5["（派遣先）職場の雰囲気"] = le7.transform(a_5["（派遣先）職場の雰囲気"])
t_x_3["（派遣先）職場の雰囲気"] = le7.transform(t_x_3["（派遣先）職場の雰囲気"])

le8 = LabelEncoder()
le8.fit(pd.concat([a_5["勤務地　最寄駅1（駅名）"], t_x_3["勤務地　最寄駅1（駅名）"]], sort=True))
a_5["勤務地　最寄駅1（駅名）"] = le8.transform(a_5["勤務地　最寄駅1（駅名）"])
t_x_3["勤務地　最寄駅1（駅名）"] = le8.transform(t_x_3["勤務地　最寄駅1（駅名）"])

le9 = LabelEncoder()
le9.fit(pd.concat([a_5["給与/交通費　備考"], t_x_3["給与/交通費　備考"]], sort=True))
a_5["給与/交通費　備考"] = le9.transform(a_5["給与/交通費　備考"])
t_x_3["給与/交通費　備考"] = le9.transform(t_x_3["給与/交通費　備考"])

In [19]:
# trainデータに対して使わないカラムの削除
a_5 = a_5.drop(["勤務地　最寄駅2（駅名）", "勤務地　最寄駅2（沿線名）", "お仕事名", "期間・時間　勤務開始日", "仕事内容", "勤務地　最寄駅1（沿線名）", "お仕事のポイント（仕事PR）", "掲載期間　終了日", "期間・時間　勤務時間", "（派遣先）配属先部署", "応募資格"], axis=1)
a_5.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,0,0,1550,1,121,477,325,NaN,186,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0

In [20]:
# testデータに対して使わないカラムの削除
t_x_3 = t_x_3.drop(["勤務地　最寄駅2（駅名）", "勤務地　最寄駅2（沿線名）", "お仕事名", "期間・時間　勤務開始日", "仕事内容", "勤務地　最寄駅1（沿線名）", "お仕事のポイント（仕事PR）", "掲載期間　終了日", "期間・時間　勤務時間", "（派遣先）配属先部署", "応募資格"], axis=1)
t_x_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,0,0,1600,1,112,608,773,15.0,325,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,0,0,1700,1,102,777,205,1.0,373,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,0,0,1700,1,102,773,1401,7.0,373,1

In [21]:
# 掲載開始日を０，１にエンコード
# trainデータ
day_mapping = {"2019/11/27": 0, "2019/9/25": 1}
a_5["掲載期間　開始日"] = a_5['掲載期間　開始日'].map(day_mapping)

In [22]:
# testデータ
t_x_3 = t_x_3.replace('2019/10/24', 3)
t_x_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,0,0,1600,1,112,608,773,15.0,325,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,0,0,1700,1,102,777,205,1.0,373,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,0,0,1700,1,102,773,1401,7.0,373,1

In [23]:
# trainデータの拠点番号
func = lambda x: int(x[:3])
a_5["拠点番号"] = a_5["拠点番号"].map(func)
a_5.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,0,0,1550,1,121,477,325,NaN,186,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0

In [24]:
# testデータの拠点番号
# trainデータの拠点番号
func = lambda x: int(x[:3])
t_x_3["拠点番号"] = t_x_3["拠点番号"].map(func)
t_x_3.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,9.0,0,22010,1,0,...,0,0,1600,1,112,608,773,15.0,325,1
1,3,0,5.0,0,0,11.0,0,22030,1,0,...,0,0,1700,1,102,777,205,1.0,373,0
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,6.0,0,0,8.0,0,20020,1,0,...,0,0,1700,1,102,773,1401,7.0,373,1

In [25]:
# 予測用データ
submit_x = t_x_3

In [26]:
work_number = submit_x["お仕事No."]
submit_x_test = np.array(submit_x.drop(["お仕事No."], axis=1))
submit_x_test.shape

(3391, 74)

In [27]:
a_5.describe()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
count,15853.000000,15853.000000,13801.000000,15853.000000,15853.000000,13814.000000,15853.000000,15853.000000,15853.000000,15853.000000,...,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,15853.000000,7359.000000,15853.000000,15853.000000
mean,2.946319,0.006813,4.997464,0.237242,0.218129,14.174461,0.064972,20637.698227,0.277802,0.010219,...,0.009903,0.011670,1469.690279,0.991674,137.071848,434.118211,848.275027,7.621008,243.595282,0.729578
std,0.306926,0.082259,2.796697,0.425405,0.412989,23.165115,0.246484,2598.874377,0.447930,0.100574,...,0.099025,0.107398,244.447800,0.090872,55.513015,234.841303,494.809165,4.577798,176.965509,0.444192
min,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,20020.000000,0.000000,0.000000,...,0.000000,0.000000,800.000000,0.000000,101.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.000000,0.000000,3.000000,0.000000,0.000000,5.000000,0.000000,20020.000000,0.000000,0.000000,...,0.000000,0.000000,1300.000000,1.000000,103.000000,232.000000,430.000000,5.000000,72.000000,0.000000
50%,3.000000,0.000000,5.000000,0.000000,0.000000,8.000000,0.000000,20030.000000,0.000000,0.000000,...,0.000000,0.000000,1500.000000,1.000000,109.000000,404.000000,882.000000,7.000000,269.000000,1.000000
75%,3.000000,0.000000,7.000000,0.000000,0.000000,15.000000,0.000000,20710.000000,1.000000,0.000000,...,0.000000,0.000000,1650.000000,1.000000,201.000000,665.000000,1228.000000,10.000000,409.000000,1.000000
max,4.000000,1.000000,10.000000,1.000000,1.000000,574.000000,1.000000,80310.000000,1.000000,1.000000,...,1.000000,1.000000,2850.000000,1.000000,631.000000,936.000000,1748.000000,46.000000,575.000000,1.000000

In [28]:
# 前処理後データ
application_after = a_5
application_after.head()

,職場の様子,休日休暇(月曜日),（派遣先）配属先部署 男女比 男,大手企業,交通費別途支給,（派遣先）配属先部署 人数,残業月20時間以上,職種コード,1日7時間以下勤務OK,短時間勤務OK(1日4h以内),...,休日休暇(金曜日),扶養控除内,給与/交通費 給与下限,オフィスが禁煙・分煙,勤務地 市区町村コード,（派遣先）職場の雰囲気,勤務地 最寄駅1（駅名）,勤務地 最寄駅2（分）,給与/交通費 備考,残業なし
0,3,0,6.0,0,0,12.0,0,22010,1,0,...,0,0,1550,1,121,477,325,NaN,186,1
1,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
2,3,0,2.0,1,0,33.0,0,20020,1,0,...,0,0,1800,1,101,185,832,5.0,424,1
3,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0
4,2,0,8.0,0,0,5.0,1,20020,0,0,...,0,0,1650,1,102,777,261,6.0,411,0

### yの読み込み

In [29]:
df_y = pd.read_csv("train_y.csv")
df_y.head()

       お仕事No.    応募数 合計
0  2203566799  1.945910
1  2203546900  3.951244
2  2203546900  3.295837
3  2203545344  3.970292
4  2203545344  3.784190

In [30]:
len(df_y)

15853

# 回帰問題

In [31]:
y = df_y["応募数 合計"]
X = application_after.drop(["お仕事No."], axis=1)

In [32]:
y_array = np.array(y)
X_array = np.array(X)

In [33]:
print("y_array: ", y_array.shape)
print("X_array: ", X_array.shape)

y_array:  (15853,)
X_array:  (15853, 74)

In [34]:
# train/testに分割する
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_array, y_array, test_size=0.4, random_state=0)

In [35]:
print("X_train: ", X_train.shape)
print("y_train: ", y_train.shape)
print("X_test: ", X_test.shape)
print("y_test: ", y_test.shape)

X_train:  (9511, 74)
y_train:  (9511,)
X_test:  (6342, 74)
y_test:  (6342,)

# GBDT

In [36]:
import xgboost as xgb
from sklearn.metrics import log_loss

In [37]:
# 特徴量と目的変数をxboostのデータ構造に変換する
dtrain = xgb.DMatrix(X_train, label=y_train)
dvalid = xgb.DMatrix(X_test, label=y_test)
dtest = xgb.DMatrix(submit_x_test)

In [38]:
# ハイパーパラメータの設定
param = {"object": "reg:squarederror", "silent": 1, "random_state": 71}
num_round = 58

In [39]:
# 学習の実行
# バリデーションデータもモデルに渡し、学習の進行とともにスコアがどう変わるかモニタリングする
# watchlistには学習データおよびバリデーションデータをセットする
watchlist = [(dtrain, "train"), (dvalid, "eval")]
model = xgb.train(param, dtrain, num_round, evals=watchlist)

[0]	train-rmse:0.738811	eval-rmse:0.719446
[1]	train-rmse:0.698736	eval-rmse:0.687109
[2]	train-rmse:0.677114	eval-rmse:0.669913
[3]	train-rmse:0.656018	eval-rmse:0.661127
[4]	train-rmse:0.642139	eval-rmse:0.65165
[5]	train-rmse:0.630153	eval-rmse:0.64585
[6]	train-rmse:0.620449	eval-rmse:0.642983
[7]	train-rmse:0.610905	eval-rmse:0.638304
[8]	train-rmse:0.602358	eval-rmse:0.635192
[9]	train-rmse:0.590861	eval-rmse:0.630016
[10]	train-rmse:0.585405	eval-rmse:0.628314
[11]	train-rmse:0.5767	eval-rmse:0.625172
[12]	train-rmse:0.570024	eval-rmse:0.622993
[13]	train-rmse:0.564218	eval-rmse:0.620818
[14]	train-rmse:0.558147	eval-rmse:0.619741
[15]	train-rmse:0.553317	eval-rmse:0.618799
[16]	train-rmse:0.549047	eval-rmse:0.618805
[17]	train-rmse:0.545834	eval-rmse:0.617668
[18]	train-rmse:0.54209	eval-rmse:0.617071
[19]	train-rmse:0.538748	eval-rmse:0.616679
[20]	train-rmse:0.534134	eval-rmse:0.61557
[21]	train-rmse:0.532915	eval-rmse:0.615099
[22]	train-rmse:0.525986	eval-rmse:0.612067
[23]	train-rmse:0.521457	eval-rmse:0.610932
[24]	train-rmse:0.518684	eval-rmse:0.610413
[25]	train-rmse:0.513391	eval-rmse:0.608959
[26]	train-rmse:0.511494	eval-rmse:0.608997
[27]	train-rmse:0.509658	eval-rmse:0.609221
[28]	train-rmse:0.508628	eval-rmse:0.609056
[29]	train-rmse:0.504605	eval-rmse:0.608723
[30]	train-rmse:0.499566	eval-rmse:0.608
[31]	train-rmse:0.496426	eval-rmse:0.608281
[32]	train-rmse:0.491851	eval-rmse:0.607391
[33]	train-rmse:0.490038	eval-rmse:0.606883
[34]	train-rmse:0.488747	eval-rmse:0.606489
[35]	train-rmse:0.483677	eval-rmse:0.605648
[36]	train-rmse:0.480787	eval-rmse:0.605821
[37]	train-rmse:0.479811	eval-rmse:0.605401
[38]	train-rmse:0.475135	eval-rmse:0.605723
[39]	train-rmse:0.473982	eval-rmse:0.605819
[40]	train-rmse:0.471533	eval-rmse:0.604956
[41]	train-rmse:0.468546	eval-rmse:0.604501
[42]	train-rmse:0.465512	eval-rmse:0.603565
[43]	train-rmse:0.4627	eval-rmse:0.6039
[44]	train-rmse:0.462333	eval-rmse:0.603787
[45]	train-rmse:0.459468	eval-rmse:0.603251
[46]	train-rmse:0.457261	eval-rmse:0.602902
[47]	train-rmse:0.453609	eval-rmse:0.602964
[48]	train-rmse:0.451498	eval-rmse:0.602757
[49]	train-rmse:0.450557	eval-rmse:0.602614
[50]	train-rmse:0.447696	eval-rmse:0.602408
[51]	train-rmse:0.44642	eval-rmse:0.60244
[52]	train-rmse:0.44377	eval-rmse:0.602758
[53]	train-rmse:0.440001	eval-rmse:0.602967
[54]	train-rmse:0.439266	eval-rmse:0.603269
[55]	train-rmse:0.437474	eval-rmse:0.602727
[56]	train-rmse:0.436217	eval-rmse:0.602056
[57]	train-rmse:0.435775	eval-rmse:0.601972

In [45]:
# バリデーションデータでのスコアの確認
va_pred = model.predict(dvalid)
# 負の値は0へ
va_pred_0 = [0 if i <= 0 else i for i in va_pred]
va_pred_0

[0.44760647,
 0.8919707,
 0.3481437,
 0.51821005,
 0.34823814,
 0.7766369,
 0.42085007,
 0.31074247,
 0.20378914,
 0.10393597,
 1.3185592,
 0.05873479,
 0.4986656,
 0.7595324,
 0.9068471,
 1.0144546,
 0.8570242,
 0.5289915,
 0.2469115,
 0,
 1.406274,
 0.41119555,
 0,
 0.50182045,
 1.9202567,
 0.41748533,
 0.4543264,
 0.23943616,
 0.47431165,
 0,
 0.02449987,
 1.4725375,
 0.06754549,
 0.86736065,
 0.40730405,
 0.50328577,
 0.9127468,
 0.7026736,
 0.1625849,
 0.5518872,
 0.048379786,
 0.19344124,
 0.20141935,
 0.7219944,
 1.1126711,
 0.047792256,
 0.12911683,
 0.3128796,
 0.8134267,
 0.38057157,
 0.46792462,
 0.2634607,
 0.4616839,
 0.62244034,
 0.40711033,
 0.5524213,
 0.5282834,
 0.4270996,
 0.12513025,
 0.9063095,
 0.9154611,
 0.17959,
 0.12504052,
 0,
 0.7574464,
 1.0714959,
 0.84226954,
 0,
 0.3647855,
 0.62468606,
 0.59385735,
 0.2434864,
 0.2547319,
 0.18525508,
 0.7335699,
 0.71174383,
 0.2434864,
 0.5221114,
 0.17378908,
 0.31547898,
 0.7669132,
 0.15493873,
 0.08203718,
 0.9206164,
 0.09898311,
 1.4567673,
 0.24192917,
 0.44128093,
 0.8196925,
 0.31768614,
 0.1861492,
 0.36852527,
 0.56910974,
 1.4241463,
 0.26818523,
 0.29745457,
 0.20989256,
 1.1131492,
 0.28311807,
 0.051664844,
 0.22745004,
 0.04688575,
 0.2324863,
 0.43343022,
 2.2588234,
 1.080313,
 0.43028075,
 0.17239816,
 1.38592,
 0.60707116,
 0.19153686,
 0.43218273,
 0.6923241,
 1.1912036,
 2.2727048,
 0.16889593,
 1.1450782,
 0.36757636,
 0.30625618,
 0.4611104,
 0.24382359,
 1.1837056,
 0,
 0.49907878,
 0.6439853,
 1.726777,
 0.08349045,
 1.4645144,
 2.24358,
 0.69379514,
 0.2834668,
 0,
 0.18166126,
 1.3630642,
 0.3397527,
 0.32053256,
 0.44782537,
 1.1772265,
 1.0618801,
 0.6986339,
 0.29759392,
 0.37757847,
 0.86895156,
 1.1075723,
 0.39078572,
 0.4666765,
 0.6308784,
 0.2635505,
 0.13719156,
 0.20449285,
 0.6082501,
 0.5096413,
 2.3483818,
 0.16166517,
 0.4647316,
 1.9549384,
 0.39300716,
 0.26447293,
 1.2200086,
 0.2912264,
 0.16688733,
 0.66158575,
 0.3326356,
 1.8316153,
 0.550974,
 0.33607045,
 0.03589178,
 0.91302896,
 0.18455634,
 0.048382185,
 0.3353392,
 0.31317702,
 0.66386676,
 0.2101717,
 0.17086451,
 0.0043338444,
 3.0384114,
 0.082350716,
 0.52319694,
 0.56100315,
 2.4328096,
 0.22091736,
 0.35918084,
 0.16664366,
 0.21356589,
 0.82043594,
 0.2508297,
 0.3828955,
 0.09422066,
 0.25377086,
 0.12161046,
 0.045399,
 0.80257493,
 0.5440738,
 0.09608018,
 0.47088766,
 0.22089554,
 0.2503959,
 0.15087393,
 1.0679507,
 0.3773895,
 0.110478304,
 2.8732066,
 0.8068324,
 0.4706533,
 0.41781762,
 0.04335235,
 2.2498643,
 0.18613043,
 0.19686778,
 0.15225208,
 0.019002017,
 0.25830632,
 0.04663121,
 0.26513734,
 0.6005405,
 0.2616865,
 1.6647927,
 1.0455793,
 0.8901991,
 1.5264677,
 0.21725293,
 0.5997788,
 2.7517357,
 0.12927152,
 0.89333147,
 0.3312134,
 0.42879832,
 0.34580663,
 0.38080496,
 0.18198559,
 0.093541555,
 0.36546534,
 0.015611579,
 1.5384908,
 0.49703565,
 0.76202446,
 1.113914,
 0.36150518,
 0.93141174,
 0.1301389,
 0.7282622,
 1.1644536,
 0.16864268,
 1.2146958,
 1.1854358,
 0.8211488,
 0.25590345,
 0,
 2.1202135,
 0.57989395,
 0.22910431,
 0.33053777,
 0.78513354,
 1.2896017,
 0.15499604,
 0.9821286,
 0.59239435,
 1.5631337,
 0.8228759,
 0,
 0.61948746,
 0.2902501,
 0,
 0.820678,
 0.50650483,
 0,
 0.74589205,
 0.24833009,
 1.2899286,
 0.6704066,
 0.10169931,
 0.93853503,
 0.22569992,
 1.0334358,
 0.1554031,
 0.20646203,
 0.7218741,
 0.40822822,
 1.8567318,
 0.7381691,
 0.30188963,
 0.38943797,
 0.47826493,
 0.14791448,
 0.062187552,
 1.8223337,
 0.5663766,
 0.8567954,
 0.21094276,
 0,
 0.20842293,
 2.6492693,
 0.2612382,
 0.3502646,
 0.6682793,
 0.43987963,
 0.17793177,
 1.601465,
 0.16998176,
 0.27953425,
 0.16864268,
 0,
 0.4953696,
 0.10605684,
 0,
 2.3451653,
 0.15689299,
 0.44216263,
 0.26590505,
 0.37017274,
 0,
 0.13567053,
 0.42785722,
 0.26049185,
 0.65301883,
 0.31160063,
 0.47777483,
 0.25869066,
 0.7066593,
 0.93719846,
 0.172399,
 0.26404905,
 0.887872,
 0.2736898,
 1.4068723,
 0.029842451,
 0.6078438,
 1.9464216,
 2.1074083,
 0.3245618,
 0.27132088,
 0.397795,
 0.1760067,
 0.062142406,
 2.2498643,
 0.11811333,
 0.144869,
 0.49530736,
 0.12665552,
 0,
 0,
 0.5503134,
 1.2769147,
 0.10811041,
 0.32640603,
 0.6598398,
 0.2736711,
 1.222546,
 0.062286817,
 0.056503624,
 0.94062316,
 0.22852324,
 1.4966301,
 1.920756,
 0,
 0.31118473,
 0.061226513,
 0.17039217,
 0.08228567,
 0,
 1.1586512,
 0.44891393,
 0.3790069,
 0.018660074,
 0.34205636,
 0.8904093,
 0,
 0.060144894,
 1.4413083,
 0.080243506,
 0.39946142,
 1.3122002,
 0.5293818,
 0.45737314,
 1.340197,
 0.17423572,
 0.2447486,
 0.67611337,
 0.15988174,
 0.25621754,
 0.63208205,
 0.46644312,
 0.363874,
 0.21227993,
 2.2551928,
 0.58786327,
 0.17257863,
 0.33914128,
 0,
 0.54752886,
 0.5640663,
 0.2672029,
 0.5130609,
 0.4516482,
 0.25069013,
 0.68053156,
 0.22969297,
 1.5420425,
 1.0068498,
 1.256032,
 0.75134504,
 0.865485,
 0.74084544,
 0.25305584,
 0.6471427,
 0.27591887,
 0.116094194,
 0,
 0.21047547,
 1.597299,
 0.34119308,
 0.3214775,
 0,
 0.7828263,
 0.37480387,
 0.6555067,
 1.3305246,
 0.20327996,
 1.0951333,
 0.5576456,
 0.10051032,
 1.1002018,
 0.3868292,
 0.11751576,
 2.1977305,
 0.90866005,
 2.0328093,
 0.5620646,
 0.17115131,
 0.54806304,
 0,
 0.28186393,
 0.32295924,
 0.08218783,
 0.5633455,
 1.4875398,
 0.39117485,
 0,
 0,
 0.2768475,
 0.2616004,
 0.8993955,
 0.56690603,
 0.6616192,
 0.5216005,
 0.37718472,
 0.5622228,
 1.3293312,
 0.48739663,
 0.544705,
 1.5336275,
 0.54043484,
 0.7086949,
 1.1793259,
 0.2945521,
 0.6479822,
 0.5565172,
 0.63470054,
 0,
 0.29083633,
 1.5812172,
 0.15400161,
 0.27182654,
 0.41555023,
 0.13441713,
 0.7137877,
 0.5338919,
 0.9897484,
 1.3317206,
 0.2548505,
 0,
 0.04517279,
 0.46289703,
 0.21714158,
 0.0049787182,
 0.26000717,
 0.4625403,
 0.5718908,
 0.06825619,
 0.11969428,
 0.49077842,
 0.3862596,
 0.2663923,
 0.6873771,
 1.0568504,
 0.53513294,
 1.8679351,
 0.35918084,
 0.12535338,
 0.6055039,
 0.3349316,
 0.8872052,
 0.12715513,
 0.65379673,
 0.17560272,
 0.65901905,
 0.79948324,
 0.47392693,
 1.2864821,
 0.30669615,
 0.52725744,
 0,
 0.7552389,
 0.53174317,
 0.10170398,
 0.13509981,
 1.4887344,
 0.62575597,
 0.9433129,
 0.14942364,
 0.2857004,
 0.781612,
 0.2547563,
 0.38252717,
 0,
 0,
 0.6200984,
 0.6152952,
 0.31454206,
 0.8419599,
 0.6975296,
 1.4540474,
 0.26769045,
 0.42299077,
 0.255523,
 0,
 0.800875,
 1.0624297,
 0.34892228,
 0.3435533,
 1.3500472,
 1.1380043,
 0.45284727,
 1.2457083,
 0.54972064,
 0.27433017,
 0.0027679286,
 0,
 0.09191473,
 0.8419599,
 0.71925145,
 0.35540393,
 1.0302261,
 0.08689858,
 0.28731027,
 1.080799,
 0.14564276,
 0.25795427,
 0.18269023,
 0,
 0.07988684,
 0.21007092,
 0.40586567,
 1.0994725,
 0.86561865,
 0.28552744,
 0.28416294,
 0.26972392,
 0.19648483,
 0.64173794,
 0.29936472,
 2.8777664,
 0.83598304,
 0.094784625,
 0.62623894,
 0.08402146,
 0.51084864,
 1.2915988,
 0.0869599,
 0,
 0.22739877,
 2.1876504,
 1.1789646,
 0.0562428,
 0.0076560583,
 1.1635588,
 1.1508657,
 0.15926693,
 0.36907881,
 0.36889398,
 0.15253,
 0.23165108,
 0.7046466,
 0.17320935,
 0.8012797,
 0.5035118,
 1.8233289,
 2.4162889,
 0.11565313,
 0.30141634,
 0.108271435,
 0.82583636,
 0.41212034,
 0.24676293,
 1.032534,
 0.083812594,
 0.24024273,
 0,
 0.32455465,
 0.71590114,
 0.25021926,
 0.4286508,
 0.8310927,
 0.5654611,
 0.43499956,
 0.5095651,
 0.6207129,
 0.13720493,
 1.4002713,
 0.49502665,
 0.67390937,
 0.55391794,
 0.15087736,
 1.2094212,
 0,
 1.2872494,
 0.31448206,
 0.964744,
 0.2630443,
 0.28655806,
 0.094083674,
 0.40979084,
 0.42553487,
 1.7183524,
 0.4602912,
 0.09967421,
 1.5118682,
 0.42099327,
 0.51386845,
 0.768266,
 2.4579313,
 0.7775724,
 0,
 0.80838686,
 0.11116948,
 0,
 0.10944659,
 1.3005911,
 1.4494792,
 0.2315878,
 0.4160222,
 0.2866482,
 0.3250866,
 0.35470814,
 2.014865,
 0.6467347,
 0.43676674,
 0.37374505,
 1.004073,
 0.05177228,
 0.48655462,
 1.0013516,
 0.0996984,
 0.65040743,
 0.38906625,
 0.98597074,
 0.27495185,
 0.48294672,
 0.15922496,
 0.71757656,
 0.23986995,
 0.12545392,
 0.61037546,
 0.35113046,
 0.36537328,
 0.23657984,
 0.35040188,
 0.9375332,
 0.4733896,
 0.59117734,
 0.6594061,
 0.6910742,
 1.1504335,
 0.39946142,
 0.36512113,
 0.23445205,
 0.3101903,
 0.1924049,
 0.25245404,
 0.08331566,
 0.6643926,
 0.36767334,
 0,
 0.13741836,
 0.20638368,
 0.3075325,
 0,
 0.14951332,
 0.31616533,
 0.26509506,
 0,
 0.14092267,
 0.1687709,
 0.12685399,
 0.7510328,
 0.08136738,
 0.108840756,
 0.5262992,
 2.2300885,
 2.3076048,
 0,
 3.4962595,
 0.46477047,
 0.08865525,
 0.7400868,
 0.11442543,
 0.33605456,
 1.7717154,
 0.432734,
 0.348507,
 2.2424984,
 0.43780294,
 0.8325446,
 0,
 0.5563104,
 1.625724,
 1.5294768,
 0.6338498,
 0.35083598,
 0.06289063,
 0.09410453,
 0.17447256,
 0.4135888,
 0.0051804,
 0.24716386,
 0.24307212,
 0.25893846,
 0.6485906,
 0.4008241,
 0.46822372,
 0.21358888,
 0.65390253,
 1.9455447,
 0.73091006,
 0,
 0.32410818,
 0,
 0.5120175,
 0.75531834,
 0.11167759,
 0.0034672525,
 0.15093948,
 1.2770092,
 0.24765626,
 0.34218913,
 0.33867472,
 0.35620475,
 0.17336547,
 0.08559191,
 0.26055697,
 0.08612995,
 0.5738449,
 0.50094986,
 0.017635373,
 0.315692,
 0.996343,
 0.051902525,
 0.0013482883,
 0.44788507,
 0.6319445,
 0.25956443,
 1.4910872,
 0.15075776,
 0.37608126,
 0.5197451,
 0.14037934,
 0,
 0.70706713,
 0.29416603,
 0.44332233,
 0.2722555,
 1.0030175,
 0.24908961,
 0.18127623,
 0.8586839,
 0.1792464,
 0.35793182,
 0.9335245,
 0.2975135,
 0.5095651,
 0.21188712,
 0.3408377,
 0.47279024,
 0.40385202,
 0.54806304,
 0.7139224,
 0.91501313,
 0.2376876,
 0.17336176,
 0.728922,
 0,
 0.6882829,
 0,
 0.63503206,
 0.18054609,
 0.26968002,
 0,
 0.24751835,
 0.15629026,
 0.10155532,
 0.028213091,
 1.343714,
 0.9115003,
 0.40918085,
 0.07726747,
 0,
 0.178482,
 0.48893625,
 0,
 0.16247205,
 0.052843362,
 0.09566807,
 0.23172638,
 1.8794581,
 0.23812142,
 0.26988676,
 0.5454827,
 0.15912706,
 0.2766707,
 0,
 0,
 2.0795681,
 0.032523107,
 0,
 0.770766,
 0.22045673,
 0.29024377,
 0.40763235,
 0.16147,
 0.10341217,
 0.4446221,
 0.870562,
 0.15982424,
 0.4206529,
 0,
 0.13342947,
 1.3766088,
 1.0380784,
 1.4068723,
 1.1712656,
 1.105309,
 1.0360509,
 1.0753437,
 0.68340087,
 0.30049884,
 0.7232581,
 0.48355606,
 0.47102332,
 1.52338,
 0.5927778,
 0.027524367,
 0.64531386,
 0.6005405,
 0.4975397,
 0.5563104,
 0.2686062,
 0,
 1.1505413,
 0.55007917,
 0.46704185,
 0.067310266,
 0.54613596,
 1.562585,
 0.9104228,
 0.47102332,
 0.77152157,
 1.7555023,
 0.38906625,
 0.7540754,
 0.212377,
 0,
 2.2710137,
 0.12373735,
 0.9773771,
 0.34874043,
 0.25322425,
 0.08021285,
 0.8399928,
 0.15689223,
 0.7159897,
 0,
 1.0935206,
 0.4804158,
 0.1299847,
 0,
 0.42292657,
 0.7589342,
 0.6873771,
 0.75996387,
 0.4957802,
 0.46123385,
 0.389857,
 0.47692096,
 0.36950707,
 0.16051596,
 0.16274084,
 0.68634135,
 0.5709386,
 0.6319445,
 0.23428404,
 0.12088894,
 0.41139224,
 0.48930165,
 0.80491465,
 0.07213922,
 1.2770926,
 1.2078584,
 0.47102332,
 0.39054853,
 0.7880253,
 0.48169467,
 0.70203656,
 0.19829361,
 0,
 0,
 0.09497339,
 0.27330995,
 0.8421335,
 0.19839548,
 0.1832284,
 0.079266585,
 0.28901267,
 0.3250306,
 0.3714886,
 0.26015413,
 0.13442488,
 0.28628036,
 0.731784,
 0.23808601,
 0.5104645,
 0.087274946,
 0.33404896,
 1.5673645,
 0.4118873,
 0.16051784,
 0.22300255,
 0.31332523,
 0.70101404,
 0.29840532,
 0.40822822,
 0.95869225,
 0.7938088,
 0.72613066,
 0.50044996,
 0.35185853,
 0.2842998,
 0.9836187,
 0.79645115,
 0.093162954,
 0.19751796,
 0.1388284,
 0.8783611,
 0.512603,
 0.43770143,
 0.13460423,
 0.8751291,
 0.40720394,
 0.51965743,
 0.41460544,
 0.5388981,
 0.79015595,
 0.12739,
 1.6017456,
 0,
 0.5201532,
 0.22274178,
 0.82935727,
 0.84987056,
 1.251664,
 1.5294768,
 0,
 0.25377086,
 0.26414892,
 0.729544,
 0.19553457,
 0.10412481,
 0.20842293,
 0.1820465,
 1.3453431,
 0.007806793,
 0.2510175,
 0.40822822,
 0.20663011,
 1.2058854,
 0.5078527,
 0.54654425,
 0.3183913,
 0.064719014,
 0.24388145,
 0.28414246,
 0.7152935,
 0.13250715,
 0.46208447,
 1.194714,
 0.08370002,
 0.21050765,
 0.56431746,
 0,
 0.12749977,
 ...]

In [47]:
from sklearn.metrics import mean_squared_error
score = np.sqrt(mean_squared_error(va_pred_0, y_test))
print(score)

0.5999766265357284

In [48]:
# 予測
pred = model.predict(dtest)
pred_0 = [0 if i <= 0 else i for i in pred]

### GDBT(NaNのまま，encoding多め): 0.6044626823948162

### GDBT(NaNのまま): 0.6042383633971182

### GBDT(NaNを-99に変換): 0.610822959180329

### ランダムフォレスト: 0.6326244864434752

# テストデータで予測

In [49]:
pred_df = pd.DataFrame(pred_0, columns=['応募数 合計'])
pred_df.head()

     応募数 合計
0  2.228403
1  3.488499
2  3.278749
3  3.569714
4  2.565656

In [50]:
submit = pd.concat([work_number, pred_df], axis=1)
submit.head()

       お仕事No.    応募数 合計
0  2203556553  2.228403
1  2203515280  3.488499
2  2203546900  3.278749
3  2203545344  3.569714
4  2203557987  2.565656

In [51]:
submit.to_csv("submit_GBDT_NaN_encoding_2_0.csv", index=False, encoding='utf_8_sig')